table{
    position: relative;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;

}
td{
    text-align: center;
}

input{
    width: 100%;
    height: 100%;
}

.email{
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    text-size-adjust: 10px;
    letter-spacing: 2px;
    line-height: 1;
    display: inline-block;
}


.email ::placeholder{
    opacity: 0.4;
}


.password[type=password]{
    padding: 10px;
    margin-top: 10px;
    letter-spacing: 2px;
    line-height: 1;
    display: inline-block;
    width: 200px;
}

.password[type=password]::placeholder{
    opacity: 1;
}


.password[type=password]:focus{
    padding: 10px;
    margin-top: 10px;
    background-color: lightblue;
}


.background{
    background-color: azure;

}

.loginbtn{
    padding: 10px;
    margin-top: 10px;
    background-color: #1db954;
    text-align: center;
    display: inline-block;
    border-radius: 40px;
    font-size: 20px;
    color: #fff;
    border: 1px solid transparent;
    transition-duration: 0.4s;
    transition-duration: 0.5s;
    width: 200px;
    letter-spacing: 2px;
    line-height: 1;
    margin-left: 50px;
}

.loginbtn:hover{
    background-color: #0df059;
    color: #fff;
}





.forgot{
    display: inline-block;
    text-align: center;
    vertical-align: center;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: -50px;
    padding: 10px;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

.a:link{
    text-decoration: double;
}

.a:visited{
    text-decoration: aqua;
}

.simple{
    display: inline-block;
    text-align: center;
    vertical-align: center;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -70px;
    padding: 10px;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

.or{
    display: inline-block;
    text-align: center;
    vertical-align: center;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

.sign{
    display: inline-block;
    text-align: center;
    vertical-align: center;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -50px;
    padding: 10px;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

.admin-login{
    display: inline-block;
    text-align: center;
    vertical-align: center;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -50px;
    padding: 10px;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

.text-deco{
    text-decoration: none;
}


.logo{
    width: 500px;
    height: 200px;
    text-align: center;
    margin-left: 700px;
    text-decoration: solid;
    font-size: 30px;
    color: #2196F3;
}




.navbar {
    overflow: hidden;
    background-color: #111;
    position: fixed;
    margin-left: 0px;
    min-width: 202vh;
    max-width: 100vh;
    border-radius: 10px;
}

  .navbar a {
    float: left;
    font-size: 16px;
    color: #818181;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
    text-decoration: none;
  }


  .navbar a:hover{
    background-color: rgb(31, 34, 39);
  }




  .sidenav { 
    width: 200px; 
    position: fixed; 
    margin-top: 64px;
    background-color: #111;
    min-height: 80vh;
    max-height: 100vh;
    border-radius: 10px;
  }
  

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }


  audio{
    margin: 50%;
    margin-top: 50%;
  }



  .passreset{
      font-size: 20px;
      /* top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: 100px; */
  text-align: center;
  color: chocolate;
  }

  .emailforgot{
    font-size: 20px;
    /* top: 50%;
left: 50%;
margin-top: -50px;
margin-left: 100px; */
text-align: center;
color: chocolate;
  }


.bottombar{
    background-color: #0df059;
    color: antiquewhite;
    position: relative;
    bottom: 10px;
    height: 100px;
    min-width: 202vh;
    max-width: 100vh;
    border-radius: 100px;
    z-index: 2;
}



audio {
    width: 300px;
    height: 54px;
    z-index: 2;
}